
/* 

UPDATE RESPONSIVE (27-08)
- Cambié todas las unidades a unidades relativas
- Agregué max-width a todas las imágenes
- Quité el span
- Añadí media queries para Mobile

*/

/* Voy de menos específico a más específico siguiendo el orden de lo que va apareciendo en mi html. Empiezo por lo general y cuando agrego algo específico
lo hago directamente sobre el selector más específico */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 247, 234);
    color: rgb(73, 52, 20);
    text-align: center;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

h1{
    font-size: 3rem;
}

/* Pongo estilos al p que viene inmediatamente después del h1 -en mi html solo existe un h1- */
h1 + p{
    font-weight: bold;
    background-color: rgb(73, 52, 20, 0.441);
    padding: 0.5rem;
    width: 25%;
    margin: auto;
    border-radius: 0.25rem;
}

#intro img {
    margin: auto;
    width: 15%;
    background-color: transparent;
    color: transparent;
    margin: 1rem;
    margin-top: 5rem;
}

#intro h2, #intro p{
    margin: auto;
    width: 50%;
}

#intro h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}

#intro p{
    margin-bottom: 5rem;
    font-size: 1rem;
}

.seccion{
    margin-top: 5rem;
}

.seccion h2{
    margin-top: 0rem;
}
.seccion img{
    width: 10%;
}

h3{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.seccion p{
    margin-top: 0.05rem;
}

#contacto{
    margin: auto;
    width: 30%;
    background-color: rgb(73, 52, 20);
    color: rgb(255, 247, 234);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

a{
    color:  rgb(255, 247, 234);
    padding: 1rem;
}

/* Media queries para Mobile */

@media screen and (max-width: 500px){

    body {
        font-size: 0.8rem;
    }

    h1{
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3{
        font-size: 0.8rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    h1 + p{
        font-size: 0.9rem;
        width: 60%;
    }

    #intro img {
        width: 50%;
        margin-top: 3rem;
    }

    #intro h2{
        font-size: 1.5rem;
    }

    #intro h2, #intro p{
        width: 70%;
    }

    #intro p{
        margin-bottom: 3rem;
        font-size: 0.8rem;
    }

    .seccion{
        margin-top: 3rem;
    }

    .seccion img{
        width: 30%;
    }

    #contacto{
        width: 70%;
        margin-top: 3rem;
    }

}